/* fixme - try to use system colours https://developer.mozilla.org/en-US/docs/Web/CSS/system-color */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

#trace{}

#map {}

.svg-container {
    position: absolute;
    flex: 1 1 auto;
    height: calc(100vh - 8em);
    width: calc(100vw); 
}

.svg-content {
    height: 100%;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 0;
}


.x-button {
    margin: 10px 20px;
}

.x-checkbox {
    margin: 10px 10px;
}

#bottomBits {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0; 
    width: 100%;
}

#info {
    display: flex;
    flex-direction: row;
}

#messages {
    margin-left: 30px;
    /*display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;*/
}

#channelDrawer {
  margin-left: 0px;  
  margin-right: 0px;  
}

#channelSelector {
    margin-left: 30px;  
}
#channelSelectContent {
    margin-left: 30px;  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#chSel {
    margin: 10px;
}

#status {
    width: 100%;
}

#lastUpdate {
   width: 100%;
}

#startStop {

}

#powerOff {
    color: white;
    background: #d02b2b;
}

dialog::backdrop {
    pointer-events: none;
}