@import './node_modules/bootstrap/dist/css/bootstrap.min.css';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

* {
    box-sizing: border-box
}

.varselector {
    position: sticky;
    top: 0;
    width: 100%;
    /*background-color: #333;
       color: #fff;*/
    padding: 10px;
    z-index: 1000;
}

.histogram,
.map {
    flex-grow: 1;
    min-height: 300px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.messagebox {
    position: sticky;
    bottom: 0;
    /*background-color: #333;
       color: #fff;*/
    padding: 10px;
    text-align: left;
}

.buttonbar {
    padding: 10px 20px 10px 20px;
}

.x-button {
    margin: 10px 20px 10px 20px;
}

.split {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}


.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}